.page-title {
    margin-top: 0.5rem;

  &>h1 {
    position: relative;
    z-index: 1;
    margin: 0 0 0 17px;
    color: #2c509a;
    font-size: 32px;
    font-weight: 500;
    background: #fff;
    padding: 0 10px 0 7px;
    display: inline-block;
  }
}

.btn-togle-to-row-table {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  &>svg {
    fill: #D3D3D3;
  }
  &:last-child {
    margin-left: 6px;
  }
}

.btn-togle-to-row-table:hover {
  &>svg {
    fill: gray;
  }
}

.filters-row {
  display: flex;
  align-items: center;

  &>hr {
    flex-grow: 1;
    margin: 0 6px;
  }
}