.categories-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  cursor: pointer;
  font-size: 14px;
  color: grey;
  overflow: hidden;
  min-width: 926px;

  .category-item {
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    padding: 22px 0;
    list-style: none;
  }

  .category-item:hover {
    border-bottom: 3px solid #ff8d02;
    color: #ff8d02;
  }
}

.subcategories-container {
  display: flex;

  &>a {
    text-decoration: none;
  }
}
