@import '../../../../styles/colors.scss';

.subcategory-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  outline: 0;
  font-size: 13px;
  color: grey;
  width: 130px;
  height: 110px;
  padding: 21px 15px 15px;

  &>svg {
    max-width: 24px;
    max-height: 32px;
    fill: $common-blue;
  }
}
