@import '../../styles/colors.scss';

.items-card-wrapper {
  border-bottom: solid 1px #efefef;
  position: relative;

  &>.like-wrapper {
    position: absolute;
    left: 1px;
    top: 10px;
    fill: #999;
    cursor: pointer;
  }

  &>.like-wrapper:hover {
    fill: $primary-orange;
  }

  .description {
    color: black;
    font-size: 12px;
    &>label {
      color: #999;
      margin-right: 10px;
    }
  }
}

.flex-view {
  .items-card-wrapper {
    &>.like-wrapper {
      left: -16px;
      top: -10px;
    }
    border: solid 1px #efefef;
    border-radius: 10px;
  }
}

.items-price {
  color: $primary-orange;
  font-size: 2.4rem;
}

.items-description {
  min-width: 230px;
  &>a {
    font-size: 18px;
    font-weight: 400;
    color: $common-blue;
    cursor: pointer;
    text-decoration: none;
  }

  &>a:hover {
    color: $primary-orange;
  }

  .tags-container {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    a {
      padding: 3px 7px 4px;
      margin: 0 7px 6px 0;
      background-color: #efefef;
      color: #555;
      cursor: pointer;
      font-size: 1.2rem;
      text-decoration: none;
    }

    a:hover {
      color: #2c509a;
    }
  }
}
.like-wrapper:hover + .grid-card {
  box-shadow: 0 0 13px 0 rgb(0 0 0 / 35%);
}
.like-wrapper:hover + .row-card {
  background-color: #e5e5e5;
}

.like-wrapper.active + .items-card {
  background: linear-gradient(#ffe0bb, #fffffe);
}

.items-card {
  
  &.row-card {
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr;
  }

  &.row-card:hover {
    background-color: #e5e5e5;
  }

  &.grid-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 15px;
    border-radius: 10px;
    
    &>img {
      width: 230px;
    }
    &>a {
      text-decoration: none;
      font-size: 15px;
    }
    .items-price {
      font-size: 18px;
      padding: 0;
      margin: 10px 0;
      font-weight: 600;
    }
  }

  &.grid-card:hover {
    box-shadow: 0 0 13px 0 rgb(0 0 0 / 35%);
  }

  .thumbnail {
    height: 200px;
  }

  .items-description {
    padding: 10px 15px;
  }

  .items-price {
    justify-self: end;
    padding: 10px 15px 10px 0;
    white-space: nowrap;
  }
}